/*
    1. Basic Style - Line 14     
    2. Slider Style - Line 72
    3. Common?
    4. PC Style
    5. Tablet Style
    6. Mobile Style



*/

/* 14 Basic Style */
body {
    margin:0; 
    padding: 0; 
    font-family: 'Noto Sans Korean', sans-serif;
    color:#999;
    word-wrap:break-word;
    word-break: break-all;
    
        /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }

a, a:link, a:visited, a:hover, a:active, a:focus  {
    text-decoration:none;
    }

img {
    border:0;
    vertical-align: text-top;
    }

ul, ol, li {
    list-style:none; 
    padding:0; 
    margin:0;
    }


fieldset {
    border:0; 
    padding:0; 
    margin: 0;
    }

h1, h2, h3, h4, h5, h6, p, input, textarea, button, select, option {
    margin: 0; 
    padding: 0; 
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: normal;
    line-height: 1;
    
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }

table {
    border-collapse:collapse;
    border-spacing:0;
    }

.wrapper {
    position: relative; 
    margin: 0; 
    padding: 0;
    top: 70px;
    }

.wrap {
    max-width:1254px;
    margin:0 auto;
    padding:0 16px;
    }
/* End basic style */

/* common */
.clearBox {content:'';clear:both;display:block;overflow:hidden;}
.corner5b {background: #ebebeb;border: 1px solid #ebebeb;}
.corner2, .corner3, .corner5, .corner5b, .outer, .corner50 {overflow: hidden;}
span.outer{display:inline-block;}
.hidden {overflow:hidden;position:absolute;width:0;height:0;margin:0!important;padding:0 !important;}
.bar {display:inline-block;width:1px;height:9px;vertical-align:middle;background:#c8cbcd;margin:0 6px;}
.themeType {display:inline-block;font-size:14px;font-family: 'RobotoM', 'NotoSansM', 'SimHei', sans-serif;color:#909898;}
.themeType a{line-height:1.2em;color:#909898;}
.themeType:hover{text-decoration:underline;}
[class*="themetype01"]{color:#005183;}
[class*="themetype01"] a{color:#005183;}

/* 72 slider */

.owl-carouselMobile {
 display: none;   
}
.slider { 
    position: relative; 
    max-width: 1500px; 
    margin: auto; 
    text-align: center;
    }

.slider .item { 
    height: 100%; 
    width: 100%; 
    background-color: none; 
    color: #fff;
    }

i {
    padding: 0;
    margin: 0;
    border: solid #fff;
    width: 60px;
    height: 60px;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
}

.rightArrow {
       transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.leftArrow {
  transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.slider .sArrows .sPrev { 
    z-index: 100; 
    position: absolute; 
    top: 40%; 
    left: 50px; 
    border: 2p solid #fff; 
    cursor: pointer;
}

.slider .sArrows .sNext { 
    z-index: 100; 
    position: absolute; 
    top: 40%; 
    right: 50px;
    cursor: pointer;
    }

/* cardSlider */
.mobileCard {
    display: none;
    
}


i {
    padding: 0;
    margin: 0;
    border: solid #005183;
    width: 30px;
    height: 30px;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
}
.slider .pArrows .sPrev { 
    z-index: 100; 
    position: absolute; 
    top: 40%; 
    left: -50px; 
    border: 2p solid #fff; 
    cursor: pointer;
}

.slider .pArrows .sNext { 
    z-index: 100; 
    position: absolute; 
    top: 40%; 
    right: -50px;
    cursor: pointer;
    }

.pArrows i {
    padding: 0;
    margin: 0;
    border: solid #005183;
    width: 30px;
    height: 30px;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;

}


.slider .sDots {
    z-index: 100;
    position: relative;
    max-width:650px;
    width: 100%;
    margin: 0 auto;
    margin-top: -12px;
    padding-bottom: 3px;
    border-bottom: 1.5px solid #f8f8f8;
     border-radius: 10px;
}

.sDots .sDot {
    display: inline-block;
    max-width: 200px;
    border-radius: 6px;
    height: 5px;
    width: 100%;
   /* border: 1px solid #034C70; */
}

.active, .sDots .Dot:hover {
    z-index: 100;
    background-color: #FCC927;
}

.gap {
    margin-top: 7px;
}

/* End slider */


/* header */
.top {
    position:relative;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    z-index:900;
    }

.top .topBox {
    height:70px;
    position:fixed;
    top: 0; 
    left:0; 
    right:0; 
    z-index:9;
    background: #fff;
}

.top.viewOff .topBox{
    background:rgba(255,255,255,0.92) !important;background:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaffffff,endColorstr=#eaffffff);zoom: 1;}

/* logo */
.top h1 { 
    position:absolute;
    top:0px;
    left:50%;
    bottom:0;
    margin-left:-100px;
}

.top h1 a, .top h1 a img {
    display:block;
}

.top h1 a {
    width:200px;
    height:100%;
}

.top h1 a img {
    width:100%;
    padding-top:20px;
}
/* End logo */

/* Menu */
.top .menu {
    display:inline-block;
    float:left;
    font-size: 14px;
    font-family: 'Noto Sans Korean', sans-serif;
    color:#666565;
}

.top .menu .bars {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 18px;
    left: 22px;
    z-index: 600;

}

.top .menu .menuWord {
    position: fixed;
    top: 23px;
    left: 70px;
    font-size: 15px;
    font-weight: 500;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #3D3D3D;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.top .topMenu {
    display: none;
    
}

.topMenu ul {
    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    padding: 50px;
    padding-right: 140px;
    padding-top: 60px;
    z-index: 300;
    background-color: white;
    -webkit-box-shadow: 0 8px 15px -6px black;
	   -moz-box-shadow: 0 8px 15px -6px black;
	        box-shadow: 0 8px 15px -6px black;
}

.topMenu ul li {
    padding-bottom: 5px;
    margin-top: 20px;
    color: #191970;
}

.topMenu .subList {
    padding: 5px;
    padding-left: 20px;
    font-weight: 150;
    cursor: pointer;
}

.subList:hover {
    color: #FCC927;
}

.top .menu .btnW {display:inline-block;}
.top .menu .btnM {display:none;}

/* titleBox */
.titBox {
    margin-top: 10px;
}
.titBox h3  {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', Sans-Serif;
    margin-top: 25px;
    padding-bottom: 0;
    word-spacing: 3px;
    color:#005183;
    margin-bottom: 5px;
}
/* End titleBox */

/* issueBox */
.tab {
    background:#fff;
    padding: 10px 0 0
    }
.tab .wrap{
    max-width:1440px;
    }
.tab .issuTypeBox {
    text-align:center;
    width:100%;
    overflow:hidden;
    border-bottom:1px solid #cecece;
    height:52px;
    }
.tab .issuType {
    max-width:480px; 
    margin:0 auto;
    }
.tab .issuType li {
    float:left;
    width:120px;
    }
.tab .issuType li a {
    display:inline-block;
    width:100%;
    padding:12px 0;
    color:#bbb7b4;
    font-size:17px;
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: 400;
    cursor:pointer;
    }
.issuType li a.on {
    z-index: 100;
    color:#2b2b2b;
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: 400;
    border-bottom:10px solid #2b2b2b;}

/* topicBox */
.topicBox {
    background:#f8f8f8;
    padding:40px 0 90px;
}
.topicList {
    width:100%;
    overflow:hidden;
}

.topicList li {
    float:left;
    position:relative;
}

.topicBox .topicList li{
    width:30%;
    margin-right:1.5%;
    margin-bottom:2%
}

.topicBox .topicList .diffLi {
    width: 31%
}

.topicList li:first-child {
    margin-left:0;
}

.topicList li .outer{
    background:#eee;
}
.topicList li a {
    display:block;width:100%;
}
.topicList li a .topicListImg {
    overflow:hidden;background:#000;
}
.topicList li a .topicListImg > img {
    width:100%;
    height:auto
}
.topicList li .topicListText {position:relative;padding:40px 20px;background:#fff;}

/* category */
.topicListText .themeType {
    font-size:17px;
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: 500;
}
.topicList .topicListText h3{margin-top:10px;}
.topicList .topicListText h3:hover{text-decoration:underline;}
/* title */
.topicListText h3 {
    font-size:22px;
    color:#333;
    font-family: 'Noto Sans Korean', sans-serif;
    text-overflow:ellipsis; 
    white-space:nowrap; 
    overflow:hidden;
    font-weight: 500;
}
.hoverTxt:hover {text-decoration:underline;}
.topicListText h3 br{display:none;}
.topicListText .topicTextInfo {height:2.4em; margin:25px 0 0;font-size:17px;color:#545454;font-family: 'RobotoL', 'NotoSansL', 'SimHei', sans-serif;line-height:18px;letter-spacing:-0.5px}

.topicList li .snsBox {display:none;position:absolute;background:#fff;bottom:40px;right:20px;}
.topicList li .snsBox a {display:inline-block;border:none;float:left;width:30px;margin-left:8px;}
.topicList li .snsBox a:first-child {margin-left:0px;}
.topicList li .snsBox a img{width:100%;}
/* End topicBox */

/* footer */
footer{ padding: 35px 50px 25px; height:46px; background: #e8edf0;  position: relative; }
footer .leftWrap{float: left;}
footer .leftWrap .ftLogo{float:left;}
footer .leftWrap address{float:left; font-size:12px; font-style: normal; color:#9b9c9e; margin-left: 20px; margin-top: 20px; font-family: 'RobotoL', 'NotoSansL', 'SimHei', sans-serif;}
footer select {
    margin-top: 5px;
    width: 300px;
    height: 30px;
}

.totalWrap { float: left;margin: 0; padding: 0;height: 5px; background: #a3abbb; width: 100%;}
footer .rightWrap{float: right;}
footer .rightWrap p{float:left;margin:3px 0 0 0;}
footer .rightWrap p a{display:inline-block;width:32px;height:32px;}
footer .rightWrap p a img{width:100%;}
footer .rightWrap p .ftCon{display:inline-block;color: #666;}
footer .rightWrap .copyright{display:block; color: #999; font-family: 'RobotoL', 'NotoSansL', 'SimHei', sans-serif;; margin-top:6px;}

footer .rightWrap .footBtn{float:right;}
footer .rightWrap .btnAdress {float:left; display: block; width: 114px;margin-left: 20px; padding: 12px 15px; background: #7b869e; color: #fff; font-size: 14px; font-family: 'RobotoR', 'NotoSansR', 'SimHei', sans-serif;}
footer .rightWrap .btnAdress:after{content:''; display:inline-block; float:right; width:6px; height:11px; background:url('images/ico_arrow02.png') no-repeat;}
footer .rightWrap .btnAdress.goSite{margin-left:15px;}
footer .rightWrap .btnAdress.goSite:after{width:11px;height:11px;background: url('images/ico_letdown.png') no-repeat;}
footer .rightWrap .btnAdress.goSite.on:after{width:11px;height:11px;background: url('images/ico_view.png') no-repeat;}

footer .relateSiteBox { overflow:visible;display:none; position: absolute; bottom:115px;right:50px; width:830px;padding:26px 0 26px 20px; background:#7b869e;}
footer .relateSiteBox:after {content:'';display:block;width:18px;height:9px;background:url('images/family_site_bg.png') no-repeat 0 0;position:absolute;bottom:-8px;right:64px; z-index:3;}
.relateSiteBox ul {overflow:hidden;width:100%;}
.relateSiteBox .relateSite li {color:#fff;font-size:12px;font-family: 'RobotoL', 'NotoSansL', 'SimHei', sans-serif;}
.relateSiteBox .relateSite li a {color:#fff;display:inline-block}

.relateSiteBox .relateSite > li {float:left;padding:0 0 0 1.5%;width:16.5%;border-left:1px solid #a3abbb;font-size:14px;font-family: 'RobotoM', 'NotoSansM', sans-serif;height:184px;}
.relateSiteBox .relateSite > li:first-child {width:24.5%;border-left:none;padding:0 0 0 3%}

.relateSiteBox .relateSite > li:first-child .relateSite2dep li {float:left;width:50%;}
.relateSiteBox ul.relateSite2dep {margin-top:20px;}
.relateSiteBox ul.relateSite2dep li {margin-bottom:12px;}
.relateSiteBox ul.relateSite2dep li:first-child {margin-top:0}
.relateSiteBox ul.relateSite2dep li a {color:#dddfe4;font-family:'dotum', 돋움, sans-serif;line-height:1.2;font-weight:300\9;}


/* screen size 1100px */
/* header */
@media only screen and (max-width: 1100px) {
    
.top .topBox {
    height:70px;
    max-width: 1100px;
    width: 100%;
    position:fixed;
    top: 0; 
    left:0; 
    right:0; 
    z-index:9;
    background: #fff;
}

.top .headerMenu {margin:28px 0 0 30px}
.top .searchForm {margin:17px 30px 0 0}
.mainVisual .conwrap {top:16%;}
.mainVisual .conwrap h2 {font-size:55px;line-height:1.2;margin-top:20px}
.conwrap .roundBox {width:95px;margin-left:-10px;}
.conwrap .roundBox img{width:100%;}
.mainVisual .conwrap .monthlyTit{font-size:20px; margin-left:10px;}
.mainVisual .conwrap .monthlyTit:after{margin:5px 0 0}
.roundBox .mgDate {top:18px;font-size:36px}
.roundBox .mgDate span {font-size:14px}
.mainVisual .conwrap .titInfo {font-size:12px;margin:10px 0 0 5px}
/* view articles list */
.viewList .viewMenuBox {padding:80px 0 50px}
.viewMenuBox .articleList li {width:50%}
.articleList .articleListImg img {width:100%; height:auto;}

/* topicBox */
.topicBox .topicList li {width:32.5%;margin-right:0.7%;}
.topicBox .topicList li:first-child {margin-left:0}
.topicListText .themeType {font-size:15px}
.topicListText h3 {font-size:20px}

/* issue */
.issueListBox .issueList li .postBox {right:5px;left:5px;top:25%}
.postBox .themeType {font-size:15px}
.postBox h3 {font-size:20px;line-height:1.2}
.issueListBox .issueList li .postBox .snsBox02 {margin-top:15px}

/* footer */
footer {padding:35px 16px 25px;height:70px}
footer select {
    margin-top: 5px;
    width: 300px;
    height: 30px;
}

}

@media only screen and (max-width: 768px) {
.wrapper{padding-top: 0px;}
.dim{position:fixed; top:0; right:0; bottom:0; left:0; background: url('images/dim.png') repeat; z-index:99;}
.dim a{display:block; width:100%; height:100%; }

.top{position:relative;top:0;overflow:visible;}
.top .topBox {
    height:70px;
    max-width: 768px;
    width: 100%;
    position:fixed;
    top: 0; 
    left:0; 
    right:0; 
    z-index:9;
    background: #fff;
}

    .menuWord {
        display: none;
    }
    
/* 72 slider */  
.owl-carousel .item {
        display: none;
    }
    .dots {
        display: none;
    }
.owl-carouselMobile {
        display: block;
    } 
    .owl-carouselMobile .item {
        display: block;
        height: 180px;
        width: 100%;
        background-color: #FCC927;
    }
    
    
 
i {
display: none;
}

.rightArrow {
       transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.leftArrow {
  transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.slider .sArrows .sPrev { 
    z-index: 100; 
    position: absolute; 
    top: 28%; 
    left: 50px; 
    border: 2p solid #fff; 
    cursor: pointer;
}

.slider .sArrows .sNext { 
    z-index: 100; 
    position: absolute; 
    top: 28%; 
    right: 50px;
    cursor: pointer;
    }
    
.slider .sDots {
  display: none;
}

.sDots .sDot {
    display: none;
}

.active, .sDots .Dot:hover {
    z-index: 100;
    background-color: #FCC927;
}
    

    .banner-container {
        display: none;
    }

    .mobileCard {
    display: block;
    max-width: 768px;
    width: 100%;
    
}
    .mobileCard .item img {
        width: 100%;
    }
/* logo */
.top .menu .bars {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 16px;
    left: 22px;
    z-index: 600;

}
.top h1 { 
    position:absolute;
    top:0px;
    left:50%;
    bottom:0;
    margin-left:-100px;
}

.top h1 a, .top h1 a img {
    display:block;
}

.top h1 a {
    width:200px;
    height:100%;
}

.top h1 a img {
    width:100%;
    padding-top:20px;
}
/* End logo */
    
    
.top .headerMenu.on:before{background-image:url('images/Wbtn_close.png')}
.top .MopenSearch{float: right; width:18px; height:18px; padding:15px; background: url('images/Wico_search.png') no-repeat center center;}
.top .MopenSearch.open{background-image: url('images/Wbtn_close.png');}
.top .searchWrap{display:none; position:absolute; top:48px; left:0; right:0; background:#f8f8f8;padding:36px 16px 20px; border-bottom:1px solid #cecece;}
.top .searchWrap .searchForm{width:100%; margin:0; float:none;}
.top .searchForm .searchBox{position:relative; width:auto; padding: 0 80px 0 0; height:40px;}
.top .inputText{width:100%; height:40px; font-size:15px;color:#000;}
.top .searchBtn{position:absolute; right:0; width:52px; background-image: url('images/Wbtn_search.jpg')}
.top .topTag{display:block;}
    

    /* issueBox */
.tab {
   display: none;
    }
.issuType li a.on {
    z-index: 100;
    color:#2b2b2b;
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: 400;
    border-bottom: 4px solid #2b2b2b;}
    
/* titleBox */
.titBox {
    margin-top: 10px;
}
.titBox h3  {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', Sans-Serif;
    margin-top: 25px;
    padding-bottom: 20px;
    word-spacing: 3px;
    color:#005183;
    margin-bottom: 5px;
}
/* End titleBox */
    
.topicBox{padding:50px 0 46px;}
.topicBox h2{font-size: 17px;}
.topicBox h2:after{margin:20px auto; width:60px;}
.topicBox .topicList li{width: 100%; margin: 30px 0 0 0;}
.topicList li:first-child{margin-top:0;}
.topicList li a{letter-spacing:-1px;}
.topicBox .topicList li a{letter-spacing:0px;}
.topicBox .topicListText h3{font-size:18px;}
.topicListText h3{font-size:16px;}
.topicListText .themeType{font-size:12px; margin-bottom:0;}
.topicListText .topicTextInfo{font-size:15px;margin:10px 0 0 0; line-height: 18px;}

.issueBox h2{font-size: 17px;}
.issueBox .issuType{max-width: 280px; margin:0 auto;}
.issueBox .issuTypeBox{height:42px;}
.issueBox .issuType li{width:25%;}
.issueBox .issuType li a{font-size:14px; padding: 13px 0;}
.issueListBox .issueList li .postBox .snsBox02 {margin-top:15px}

.postList .topicList li{width:47%; margin:1.5%;}

footer{height:auto;padding: 95px 20px 55px;}
footer > div, .sc768 footer .leftWrap .ftLogo, .sc768 footer .leftWrap address{float: initial; overflow: hidden;}
footer select { margin-left: 20px;
    height: 30px;}
footer .leftWrap .ftLogo{
    margin-left: 20px; width: 100%;
    margin-top: -10px;
    padding-bottom: 5px;

    }
footer .leftWrap address { margin: 0; padding: 0; margin-left: 20px;
     font-size:10px; line-height: 1em;}
.rightWrap{overflow:visible;position: absolute; top: 35px; left: 0; right:0; padding:0 20px;}
footer .rightWrap .btnAdress.goSite{margin-left:2%;}
footer .rightWrap p .ftCon{color:#9b9c9e;}
footer .rightWrap p a{margin-right:5px;}
.sc768 footer .relateSiteBox{left:16px; bottom:81px; right:16px; width:auto; padding:15px 0; }

.relateSiteBox .relateSite{position:relative;}
.relateSiteBox .relateSite:after{content:''; position:absolute; left:15px; right:15px; top:50%; height:1px; background:#dee1e7;}
.relateSiteBox .relateSite > li{width:30%;padding:15px 0 0 2.9%;}
.relateSiteBox .relateSite > li:first-child{width:63.4%;}
.relateSiteBox .relateSite li{font-size:13px;}
.relateSiteBox .relateSite li.relateSite01, .sc768 .relateSiteBox .relateSite li.relateSite02{margin-bottom:7px; }
.relateSiteBox .relateSite li.relateSite03, .sc768 .relateSiteBox .relateSite li.relateSite04, .sc768 .relateSiteBox .relateSite li.relateSite05{margin-top:7px;}
.relateSiteBox .relateSite li.relateSite03{border:0;}
    
}


/* ie8 browser */
.browser{display:none;}
@media \0screen\,screen\9 {
	.browser{display:block;position:absolute;top:0;left:0;right:0;padding:0 40px 0 10px;background:#009d9c;color:#fff;line-height:30px;text-align:center;word-break: keep-all;}
	.browser a{float:right;display:block;width:40px;height:30px;margin-right:-40px;background:url('images/btn_closeW.png') no-repeat center;}
}

/* 임시 home */
.tempHome{position:fixed; width: 250px;height: 70px;display: block;top: 32px;left: 50%; margin-left: -125px;z-index:9999;}
.sc768 .tempHome{height:48px;top:46px;}