/*
    1. Basic Style - Line 14     
    2. Slider Style - Line 72
    3. Common?
    4. PC Style
    5. Tablet Style
    6. Mobile Style
*/

/* Basic Setting */
body {
    background: orange;
    margin:0; 
    padding: 0; 
    font-family: 'Noto Sans Korean', sans-serif;
    color:#999;
    word-wrap:break-word;
    word-break: break-all;
    
        /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }

a, a:link, a:visited, a:hover, a:active, a:focus  {
    text-decoration:none;
    }

img {
    border:0;
    vertical-align: text-top;
    }

ul, ol, li {
    list-style:none; 
    padding:0; 
    margin:0;
    }


fieldset {
    border:0; 
    padding:0; 
    margin: 0;
    }

h1, h2, h3, h4, h5, h6, p, input, textarea, button, select, option {
    margin: 0; 
    padding: 0; 
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: normal;
    line-height: 1;
    
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }

.clearBox {content:'';clear:both;display:block;overflow:hidden;}

.wrapper {
    position: relative; 
    margin: 0; 
    padding: 0;
    top: 70px;
    }
/* End Basic Setting */

/* Header Setting */
/* Basic */
.top {
    position:relative;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    z-index:900;
    }

.top .topBox {
    height:70px;
    position:fixed;
    top: 0; 
    left:0; 
    right:0; 
    z-index:9;
    background: #fff;
}


/* Menu */
.top .menu {
    display:inline-block;
    float:left;
    font-size: 14px;
    font-family: 'Noto Sans Korean', sans-serif;
    color:#666565;
}

.top .menu .bars {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 18px;
    left: 22px;
    z-index: 600;

}

.top .menu .menuWord {
    position: fixed;
    top: 23px;
    left: 70px;
    font-size: 15px;
    font-weight: 500;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #3D3D3D;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.top .topMenu {
    display: none;
    
}

/* logo */
.top h1 { 
    position:absolute;
    top:0px;
    left:50%;
    bottom:0;
    margin-left:-100px;
}

.top h1 a, .top h1 a img {
    display:block;
}

.top h1 a {
    width:200px;
    height:100%;
}

.top h1 a img {
    width:100%;
    padding-top:20px;
}

/* Volume */
.top .rightVol {
    display: block;
    float: right;
    padding: 24px;
}
/* End Header */


/* Drop Menu Setting */
.topDrop {
    position: relative;
    float: left;
    background-color: #fff;
    z-index: 300;
    max-width: 2500px;
    width: 100%;
}
.topDropBox {
    max-width: 1000px;
    float:left;
    width: 100%;
    background-color: white;
    z-index: 200; 
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 30px;

    }
            
.tdCategory {
    float: left;
    margin: 30px 50px;
    /* border-left: 1px solid black; */
    }
            
.tdCategory:first-child {
    border-left: none;
    }        
.tdCategory a {
    text-decoration: none;
    font-size: 18px;
    color: gray;
    }
            
.tdCategory ul {
     text-decoration: none;
    } 
            
.tdCategory li {
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: gray;
    }

.tdCategory h2 {
    font-weight: bold;
    }
/* End Drop Menu Setting */

/* Slider Setting */
/* 72 slider */
.owl-carousel.Mobile {
        display: block;
    } 
    .owl-carousel.Mobile .item {
        display: none;
        height: 180px;
        width: 100%;
        background-color: #FCC927;
    }
.slider { 
    position: relative; 
    max-width: 100%; 
    margin: auto; 
    text-align: center;
    }

.slider .item { 
    height: 100%; 
    width: 100%; 
    background-color: none; 
    color: #fff;
    }

i {
    padding: 0;
    margin: 0;
    border: solid #fff;
    width: 60px;
    height: 60px;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
}

.rightArrow {
       transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.leftArrow {
  transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.slider .sArrows .sPrev { 
    z-index: 100; 
    position: absolute; 
    top: 40%; 
    left: 50px; 
    border: 2p solid #fff; 
    cursor: pointer;
}

.slider .sArrows .sNext { 
    z-index: 100; 
    position: absolute; 
    top: 40%; 
    right: 50px;
    cursor: pointer;
    }

/* End slider */



@media only screen and (max-width: 1100px) 
{    
    
}

@media only screen and (max-width: 768px) 
{
    
/* Header Setting */    
    .wrapper {
        padding-top: 0px;
    }
    .top {
        position:relative;top:0;overflow:visible;
    }
    .top .topBox {
    height:70px; max-width: 768px;
    width: 100%;
    position:fixed;
    top: 0; 
    left:0; 
    right:0; 
    z-index:9;
    background: #fff;
    }
    .menuWord {
        display: none;
    }
    .top .rightVol {
        display: none; float: right; padding: 24px;
    }

    
/* Slider Setting */  
  /* 72 slider */
.owl-carousel.Mobile {
        display: block;
    } 
    .owl-carousel.Mobile .item {
        display: none;
        height: 180px;
        width: 100%;
        background-color: #FCC927;
    }
.slider { 
    position: relative; 
    max-width: 100%; 
    margin: auto; 
    text-align: center;
    }

.slider .item { 
    height: 100%; 
    width: 100%; 
    background-color: none; 
    color: #fff;
    }

i {
    padding: 0;
    margin: 0;
    border: solid #fff;
    width: 60px;
    height: 60px;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
}

.rightArrow {
       transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.leftArrow {
  transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.slider .sArrows .sPrev { 
    z-index: 100; 
    position: absolute; 
    top: 40%; 
    left: 50px; 
    border: 2p solid #fff; 
    cursor: pointer;
}

.slider .sArrows .sNext { 
    z-index: 100; 
    position: absolute; 
    top: 40%; 
    right: 50px;
    cursor: pointer;
    }
}
/* End slider */

/* ie8 browser */
.browser{display:none;}
@media \0screen\,screen\9 {
	.browser{display:block;position:absolute;top:0;left:0;right:0;padding:0 40px 0 10px;background:#009d9c;color:#fff;line-height:30px;text-align:center;word-break: keep-all;}
	.browser a{float:right;display:block;width:40px;height:30px;margin-right:-40px;background:url('images/btn_closeW.png') no-repeat center;}
}

/* 임시 home */
.tempHome{position:fixed; width: 250px;height: 70px;display: block;top: 32px;left: 50%; margin-left: -125px;z-index:9999;}
.sc768 .tempHome{height:48px;top:46px;}