@charset "utf-8";
/* common */

/* top cover image */
.cover{
}

.cover img {
        width: 100%;
}
/* End top cover image */
.post .content{
    padding-top: 50px;
    overflow:hidden;
}

article section {
    padding: 0px 0 80px;
}

.subWrap {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 30px;
}

.content .subWrap .subTit {
    margin-bottom:17px;
    font-size: 24px;
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: 500;
    color: black;
}

.subTit h3 {
    font-weight: 500;
}



.post p{
    font-size: 17px; 
    color: #666; 
    margin-bottom: 40px; 
    line-height: 1.8em;
    text-align:justify;
    font-weight: 300;
}

article .subTit{margin-bottom: 17px;font-size: 24px; color: #000; font-family: 'RobotoM', 'NotoSansM', 'SimHei', sans-serif; line-height: 1.2em;}
article .pTit{margin-bottom: 10px;font-size: 17px; color: #000; font-family: 'RobotoM', 'NotoSansM', 'SimHei', sans-serif; line-height: 1.2em;}
article .themeTit{font-size: 30px; text-align: center; color: #333; line-height:1.2em;}

.post p img{width: 100%; display: block; height:auto;}
article .col2{overflow: hidden; position:relative;}
article .col2 .col{width: 47.9%;}
article .col2 .col img{width:100%; height:auto; display:block;}
article .col2 .colL{float: left;margin-right: 4.2%;}
article .col2 .colR{float: right}
article .col2 .col50.colL{margin: 0;}
article .col2 .col40.colL{margin-right:2%;}
article .col2 .col50{float:left; width:50%;}
article .col2 .col3{width: 30.6%;float: left;margin-left: 4.1%;}
article .col2 .col3:first-child{margin-left:0;}
